.main {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  
}

.left {
  font-weight: 700;
  color: #3486e1;
  margin-left: 40px;
  font-size: 2rem;
  text-align: center;
  
}

.right {
  padding: 5px 5px;
  background-color: rgb(242, 199, 144);
  border-radius: 5px;
}
.verifyEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 6px 9px;
  background-color: #00f2ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  padding: 6px 9px;
  background-color: #00f2ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  color: #000000;
}
.premium{
  border-radius: 10px;
   /* background-color: rgb(71, 93, 219); */
  color: black;
  padding: 1px 1px;
  margin-top: 10px;
  margin-bottom:10px;
  margin-left:10px
}

.toggle{
  border-radius: 10px;
   /* background-color: rgba(242, 251, 74, 0.982); */
  color: black;
  padding: 1px 1px;
  margin-top: 10px;
  margin-bottom:10px;
  margin-left:10px

  }
.premium {
  padding: 10px 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: darkorange;
  border: 2px solid darkorange;
  border-radius: 5px;
  color: black;
}
.toggle {
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 2px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: darkslategrey;
  color: black;

}
.download {
  padding: 12px 20px;
  border: none;
  margin-right: 10px;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}
.download:hover {
  background-color: royalblue;
}
