/* form {
  width: 80%;
  display: block;
}
input {
  width: 30%;
  height: 2vh;
}
label {
  width: 30%;
}
button {
  /* padding: 7px 12px; */
  /* background-color: darkcyan;
  border-radius: 5px solid darkcyan;
  border: 5px solid darkcyan;
  margin-left: 10px;

}

h1 {
  font-style: inherit;
  border-bottom: 1px solid black;
}

.reset{
    width: 60%;
} */ 